@import "index.css";

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 4fr 1fr; 
    grid-template-areas: 
      "nav nav nav"  
      "header header header"
      "content content sidebar"
      "footer footer footer"; 
  }
  .nav {grid-area: nav;}/* NAVIGATION STYLING -------------------------- */
  ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:36px;
    background:#fff6af; 
    font-family:'Alice', serif;
    font-size:13px;
  }
  ul.nav li {
    border-right:1px solid black;
    float:left;
  }
  ul.nav a {
    padding:0 28px;
    color:black;
    text-decoration:none;
  }

  ul.nav a:hover,
  ul.nav li.current a {
    background:#ffab23;}

  .header { grid-area: header; /* HEADER STYLING -------------------------- */
  }
  .header h2 {font-size: 2em;
            text-align: center;}  

  .content {grid-area: content;
            display: flex;
            flex-direction: column;
            grid-template-rows: auto; 
            padding: 20px;/* CONTENT STYLING -------------------------- */    
  }
  
  
  .sidebar { grid-area: sidebar; }/* SIDEBAR STYLING -------------------------- */
  .footer { grid-area: footer; }/* FOOTER STYLING -------------------------- */


 
 
 /* -----STYLING THE BLOCKQUOTE-----*/

 .quote-wrapper {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 3vh auto 0; /*OPTIONAL MARGIN*/
}

.text p {
  height: 100%;
  font-size: 21px;
  line-height: 1.25;
  padding: 0;
  text-align: center;
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.quote-wrapper blockquote footer {
  width: 100%;
  position: absolute;
  bottom: 25px;
  font-size: 17px;
  text-align: center;
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.quote-wrapper::before {
  content: "\201C";
  font-size: 270px;
  height: 82px;
  line-height: 0.78;
  line-height: 1;
  position: absolute;
  top: -48px;
  left: 0;
  z-index: 1;
  font-family: sans-serif, serif;
  color: #ccc;
  opacity: 0.9;
}


/* --- Styling the INsta ----- */
   .insta {
    color: #833AB4;
    font-style: italic;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   
   /*  ---- RESPONSIVE DESIGN FOR lARGE SCREENS ------------------------------------------ */
   


