@import "index.css";

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 4fr 1fr; 
    grid-template-areas: 
      "nav nav nav"  
      "header header header"
      "content content sidebar"
      "footer footer footer"; 
  }
  .nav {grid-area: nav;}/* NAVIGATION STYLING -------------------------- */
  ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:36px;
    background:#fff6af; 
    font-family:'Alice', serif;
    font-size:13px;
  }
  ul.nav li {
    border-right:1px solid black;
    float:left;
  }
  ul.nav a {
    padding:0 28px;
    color:black;
    text-decoration:none;
  }

  ul.nav a:hover,
  ul.nav li.current a {
    background:#ffab23;}

  .header { grid-area: header; /* HEADER STYLING -------------------------- */
  }
  .header h2 {font-size: 3em;
            text-align: center;}  

  .content {grid-area: content;
            display: flex;
            flex-direction: column;
            grid-template-rows: auto; 
            padding: 20px;/* CONTENT STYLING -------------------------- */    
  }
  
  
  .sidebar { grid-area: sidebar; }/* SIDEBAR STYLING -------------------------- */
  .footer { grid-area: footer; }/* FOOTER STYLING -------------------------- */


 /*  ---- RESPONSIVE DESIGN FOR SMALL SCREENS ------------------------------------------ */

 @media(max-width: 600px) {
    .container {
     grid-template-columns: 1fr;
     grid-template-rows: repeat(5,0.2fr);
     grid-template-areas: 'nav' 'header''content''sidebar' 'footer';
     min-height: 100vh;
   }
 
   .content{
      grid-area: content;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .sidebar {grid-area: sidebar;
        display: flex;
        flex-direction: column;
        align-items: center;}

    .header {grid-area: header;
        display: flex;
        flex-direction: column;
        align-items: center;}
        
   .contents {                 padding: 20px;
               display: flex;
               flex-direction: column;
               align-items: center;
               padding: 20px;
   }
 
   .card img {display: flex;
             max-width: 95%;
             align-items: center;
             min-height: 100%;}
 
   .card {margin-bottom: 30px;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 10px;
         max-width: 100%;}
 

 
 
   .footer img {text-align: center;
     width: 100%;
     max-width: 20%;}
 
   h1 {font-size: 48px;}
 
 
   .footer {text-align: center;
           background-color: #c5d1eb;
           padding: 1em;
           font-family: 'Alice', serif;
           font-size: 1rem;}
 }
 
 /* -----STYLING THE BLOCKQUOTE-----*/

 .quote-wrapper {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 10vh auto 0; /*OPTIONAL MARGIN*/
}




.text p {
  height: 100%;
  font-size: 21px;
  line-height: 1.25;
  padding: 0;
  text-align: center;
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}





.quote-wrapper blockquote footer {
  width: 100%;
  position: absolute;
  bottom: 25px;
  font-size: 17px;
  text-align: center;
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.quote-wrapper::before {
  content: "\201C";
  font-size: 270px;
  height: 82px;
  line-height: 0.78;
  line-height: 1;
  position: absolute;
  top: -48px;
  left: 0;
  z-index: 1;
  font-family: sans-serif, serif;
  color: #ccc;
  opacity: 0.9;
}

@media (min-width: 850px) {
  .quote-wrapper {
    width: 370px;
    height: 370px;
  }

  .quote-wrapper::before {
    font-size: 300px;
  }

  .text p {
    font-size: 26px;
  }

  .quote-wrapper blockquote footer {
    bottom: 32px;
  }
}




   /*  ---- RESPONSIVE DESIGN FOR lARGE SCREENS ------------------------------------------ */
   @media(min-width: 1000px) {

      
        .card {
          display: flex;
          width: 100%;
          padding: 10px;
          height: auto;
        }
      
        .card contents {padding: 30px;}
      
        .sidebar {margin-left: 10px;}
      
        .header {background-size: 110%;}
      
        .footer img {text-align: center;
          width: 100%;
          max-width: 10%;}
        }

  
    


