.container {
    display: flex;
    flex-direction: row;
    border: 2px solid;
    justify-content: center;

}

.box {width: 200px;
height: 150px;
border: 1px solid black;}

div.mainmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.mainmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.mainmenu a:hover {
    background-color: #777;
  }
